{% extends 'base.html' %}
{% block 'content' %}
<main id="e-list">

    <header class="row border-bottom header ptb">
        <div class="col-sm-6">
            <span class="fs-2"><i class="fa-solid fa-people-roof" id="employee" data-id="{{ employee.id }}"></i> {{ employee.name }}</span>
            <p>{{ employee.description }}</p>
        </div>
        <div class="col-sm-6 d-flex align-items-center justify-content-end" id="action">
            <span class="fs-2" data-bs-toggle="modal" data-bs-target="#t-add">
                <i class="fa-solid fa-plus" style="margin-right: 10px;"> </i> Dodaj zadanie
            </span>
        </div>
    </header>

    <section class="tasks">
        <h1>Nowe</h1>
        <div id="t-new">
           
        </div>
    </section>
    <section class="tasks">
        <h1>Wykonane</h1>
        <div id="t-done">

        </div>
    </section>
    
</main>
<div class="modal" tabindex="-1" id="t-add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dodaj zadanie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="form-group" id="t-form">
                <div class="modal-body">
                    <input class="form-control" type="text" name="name" placeholder="Tytuł">
                    <textarea class="form-control" name="desciprtion" placeholder="Opis"> </textarea>
                    <input class="form-control" type="date" name="prediction" placeholder="Przewidywana data wykonania">
                    <input type="hidden" name="status" value="1">
                    <select class="form-control" name="category">
                        <option value="1">FrontEnd</option>
                        <option value="2">BackEnd</option>
                    </select>
                    <input type="hidden" name="employee" value="{{ employee.id }}">
                    <div class="invalid-feedback">
                        Niepoprawne dane
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" id="t-save">Dodaj</button>
                </div>
            </form>    
        </div>
    </div>
</div>
{% endblock 'content' %}