:root{
    --main: #ff5200;
}

.m-color {
    color: var(--main) !important;
}

.ptb {
    padding-bottom: 20px;
}

.task {
    cursor: pointer;
}
.badge {
    margin-left: 10px;
}
.e-actions i {
    margin-inline: 5px;
}
.e-actions i:hover {
    color: var(--main);
}

#action {
    display: flex;
    justify-content: end;
}

#action span:hover {
    cursor: pointer;
    color: var(--main);
}

@media only screen and (max-width: 576px) {
    .ptb {
        padding-bottom: 40px;
        padding-top: 20px;
    }
    #action {
        justify-content: start;
    }
}
